<ul id="main-nav">
  <li>
    <a href="/home">About</a>
  </li>
  <li>
    <a href="/events">Events</a>
  </li>
  <!-- added in a "album" link -->
  <li>
  	<a href ="/album">Album</a>
  <li>
    <a href="/music">Music</a>
  </li>
</ul>
