<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="css/about.css" /> -->
<head>
	<title>Celli: Album</title>
</head>
<body>
<div class="section-header">
	<h1>Our Album's Kickstarter</h1>
</div>

<hr>

<div class="paragraphContain">
	<!-- <img id="image" src="images/story_background.jpg"/> -->
		<div class="text">
			<p>
				<iframe width="560" height="315" src="//www.youtube.com/embed/L917mu7ShYc" frameborder="0" allowfullscreen></iframe>
			</p>
		</div>
</div>
<br>
<div class="section-header">
	<h1>Our Contributors</h1> 
</div>
<hr>
<div class="paragraphContain">
	<!-- <img id="image" src="images/goals_background.jpg"/> -->
		<div class="text">
			<p>
				<!-- insert names of kickstarter backers here!!!-->
			</p>
		</div>
</div>
</body>